<!-- show image with a link -->

<div class="row">
	<div class="col-2">
		<div class="profile_img">
			<img src="https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/71d1e410-0802-43c3-a7b3-dfabe7e032c0.png?auto=format&q=50&w=128&h=128&fit=max&dpr=3"
				alt="Saner Logo" width="100" height="100" />
		</div>
	</div>
	<div class="col-8 text-center" style="padding-top: 20px;">
		<div class="h1 m-0">Sanner Now</div>
	</div>

	<div class="col-2 text-right" style="padding-top: 20px;">
		<button class="dt-button" disabled>$2.5/year per endpoint</button>
	</div>
</div>

<hr>
<div class="contents" style="height: 250px;">
	<h5>About</h5>

	<p>
		SanerNow is a cloud-based cybersecurity and IT management platform developed by SecPod Technologies. It provides
		a comprehensive set of tools for vulnerability management, patch management, compliance management, and asset
		management. SanerNow helps organizations manage their security risks and compliance requirements effectively. It
		is a unified platform that provides security automation, remediation, and reporting across various endpoints,
		servers, and cloud infrastructure.
	</p>
</div>


<hr>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">❓Recomendations</h5>
			</div>
			<div class="card-body">
				<ul>
					<li>
						SanerNow is suitable for organizations of all sizes that require an all-in-one solution for
						endpoint management and security.
					</li>
					<li>
						It is particularly beneficial for organizations that need to manage and secure a large number of
						endpoints across different locations.
					</li>
					<li>
						Organizations that require advanced asset discovery and compliance management capabilities.
					</li>
					<li>
						It is also ideal for organizations that require compliance with multiple regulations, such as
						PCI DSS, HIPAA, and GDPR.
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Our Thoughts 🤔</h5>
			</div>
			<div class="card-body">
				<ul>
					<li>
						SanerNow is a great solution for organizations of all sizes.
					</li>
					<li>
						The UI is very intuitive and easy to use.
					</li>
					<li>
						It provides a comprehensive set of tools for vulnerability management, patch management,
						compliance management, and asset management.
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4 text-center">
				<img src="assets/img/screenshot/sanernow 1.jpg"
					alt="Saner" />  
					<div class="card-footer text-center pb-1">
						Initial dashboard
					</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4 text-center">
				<img src="assets/img/screenshot/sanernow 2.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Device / Endpoints overview
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4 text-center">
				<img src="assets/img/screenshot/sanernow 3.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Vulnerability Overview
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4 text-center">
				<img src="assets/img/screenshot/sanernow 4.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Compliance Management
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4 text-center">
				<img src="assets/img/screenshot/sanernow 5.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Alert Implementation
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4 text-center">
				<img src="assets/img/screenshot/sanernow 6.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Custom Report Generation
				</div>
			</div>
		</div>
	</div>
</div>