<!-- show image with a link -->

<div class="row">
	<div class="col-2">
		<div class="profile_img">
			<img src="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_31372b6161dba63d8772bc562d94c7f4/intruder.png"
				alt="Saner Logo" width="150" height="100" />
		</div>
	</div>
	<div class="col-8 text-center" style="padding-top: 20px;">
		<div class="h1 m-0">Intruder</div>
	</div>

	<div class="col-2 text-right" style="padding-top: 20px;">
		<button class="dt-button" disabled>$8/year per asset scanned</button>
	</div>
</div>

<hr>
<div class="contents" style="height: 250px;">

	<h5>About</h5>
	
	<p>
		Intruder is a cloud-based vulnerability scanner and security assessment tool designed for organizations of all sizes. It helps businesses identify and prioritize vulnerabilities in their IT infrastructure, web applications, and APIs, and provides actionable insights to help teams remediate security issues quickly.
	</p>
	<p>
		The platform also includes features such as asset discovery, which automatically identifies all assets on your network, as well as integrations with popular security tools like Slack and JIRA to help streamline the vulnerability management process.
	</p>
	
</div>

<hr>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">❓Recomendations</h5>
			</div>
			<div class="card-body">
				<ul>
					<li>
						Intruder is a good fit for small to medium-sized businesses. (being cost effective and easy to use)
					</li>
					<li>
						Organizations that do not have a dedicated IT security team.
					</li>
					<li>
						Organizations that prefer a cloud-based solution with a pay-as-you-go pricing model.
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Our Thoughts 🤔</h5>
			</div>
			<div class="card-body">
				<ul>
					<li>
						Intruder is very easy to use and configure, being a platform for small to medium-sized businesses.
					</li>
					<li>
						The reason we found for this is that Intruder performs nearly 1,44,000 tests per scan.
					</li>
					<li>
						While this is a good thing, it is also a bad thing because it takes a lot of time to complete a scan.
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<img src="assets/img/screenshot/intruder 1.jpg"
					alt="Saner" />  
			</div>
			<div class="card-footer text-center pb-4">
				Initial Dashboard
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4">
				<img src="assets/img/screenshot/intruder 2.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Targets or Endpoints
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4">
				<img src="assets/img/screenshot/intruder 3.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Scans
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4">
				<img src="assets/img/screenshot/intruder 4.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Issues
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4">
				<img src="assets/img/screenshot/intruder 5.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Report Section
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4">
				<img src="assets/img/screenshot/intruder 6.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Network Scanning
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-body pb-4">
				<img src="assets/img/screenshot/intruder 7.jpg"
				alt="Saner" />  
				<div class="card-footer text-center pb-1">
					Integrations
				</div>
			</div>
		</div>
	</div>
</div>