<div class="sidebar-wrapper">
	<div class="logo">
		<a href="#" class="simple-text logo-mini">
			<div class="logo-image-small">
				<!-- <img src="assets/img/angular2-logo.png"> -->
			</div>
		</a>
		<a href="#" class="simple-text logo-normal">
			Group 47
		</a>
	</div>
	<ul class="nav">
		<li *ngFor="let route of my_sidebar.routes" routerLinkActive="active" class="{{route.class}}">
			<a [routerLink]="[route.path]">
				<i class="nc-icon {{route.icon}}"></i>
				<p>{{route.title}}</p>
			</a>
		</li>
		<div class="card" *ngFor="let heading of my_sidebar.headings">
			<div class="card-body">
				<div class="card-title">
					<a>
						<i class="nc-icon {{heading.icon}}"></i>
						<h6>{{heading.title}}</h6>
					</a>
				</div>
				<li *ngFor="let route of heading.routes" routerLinkActive="active" class="{{route.class}}">
					<a [routerLink]="[route.path]">
						<i class="nc-icon {{route.icon}}"></i>
						<p>{{route.title}}</p>
					</a>
				</li>
			</div>
		</div>
	</ul>

</div>